<app-jiuyepeixun-top-part></app-jiuyepeixun-top-part>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">会计课程介绍</h1>
    <br>
  </div>
  <div class="row max_width_1400">
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/yuedijiezhang.jpg" class="initial_img" alt="Card Back" style="">
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">Xero 初中级会计实战</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">什么是收据？收据的几个重点要素</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在联系人板块创立供应商信息</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">周期性重复性收据如何操作</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在Xero中付账单</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样批量性处理账单</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">上传经历签字授权</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">对账</span></p>
        </div>

        <div class="img-top cn">
          <div class="inner">
          <p class="flip_header">Xero 初中级会计实战</p>
          <p class="flip_content">
            <b>时长: 5 WEEKS</b>
          </p>
          <p class="flip_content">
            <b>每周一节： 2Hrs/Week</b>
          </p>
          <p class="flip_content">
            <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
          </p>

          <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>
    <div class="first_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/yuedijiezhang.jpg" class="initial_img" alt="Card Back" style="">
        <div class="yellow_small_circle">
          1
        </div>
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">Xero 初中级会计实战</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">什么是收据？收据的几个重点要素</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在联系人板块创立供应商信息</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">周期性重复性收据如何操作</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在Xero中付账单</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样批量性处理账单</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">上传经历签字授权</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">对账</span></p>
        </div>

        <div class="img-top cn">
          <div class="inner">
            <p class="flip_header">Xero 初中级会计实战</p>
            <p class="flip_content">
              <b>时长: 5 WEEKS</b>
            </p>
            <p class="flip_content">
              <b>每周一节： 2Hrs/Week</b>
            </p>
            <p class="flip_content">
              <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
            </p>

            <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>
    <div class="second_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/yingshouzhangkuan.jpg" class="initial_img" alt="Card Back" style="">
        <div class="yellow_small_circle">
          2
        </div>
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">应收帐款</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在Xero中生成单据，单据的几个重点要素</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何通过邮件发出单据</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">当到期没有收到款项，如何跟客户追踪单据</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">对于重点账户，收入Xero控制盘以及Xero控制版的排版</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">对账</span></p>
        </div>


        <div class="img-top cn">
          <div class="inner">
            <p class="flip_header">Xero 初中级会计实战</p>
            <p class="flip_content">
              <b>时长: 5 WEEKS</b>
            </p>
            <p class="flip_content">
              <b>每周一节： 2Hrs/Week</b>
            </p>
            <p class="flip_content">
              <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
            </p>

            <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>

    <div class="third_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/gongzi.jpg" class="initial_img" alt="Card Back" style="">
        <div class="yellow_small_circle">
          3
        </div>
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">工资</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">熟悉Fair work以及相关法律法规</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">新入职员工的配套需要信息</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">养老金</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何在Xero设置工资相关项目</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">员工年假病假以及LSL</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何设立新员工信息</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">怎样在Xero坚发工资</span></p>
<!--          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何处理爆笑款项于补贴款项</span></p>-->
<!--          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">什么是OTE什么是PAYG养老金与OTE的关系</span></p>-->
<!--          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何修理错误的工资款项</span></p>-->
<!--          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">ETP的处理</span></p>-->
        </div>

        <div class="img-top cn">
          <div class="inner">
            <p class="flip_header">Xero 初中级会计实战</p>
            <p class="flip_content">
              <b>时长: 5 WEEKS</b>
            </p>
            <p class="flip_content">
              <b>每周一节： 2Hrs/Week</b>
            </p>
            <p class="flip_content">
              <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
            </p>

            <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>
    <div class="second_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/yuedijiezhang.jpg" class="initial_img" alt="Card Back" style="">
        <div class="yellow_small_circle">
          4
        </div>
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">对账</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">设立银行bank feed以及导入银行流水信息</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">AP对账</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">AR对账</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">多付款项处理</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">少付款项处理</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">工资相关账户的对账</span></p>
        </div>

        <div class="img-top cn">
          <div class="inner">
            <p class="flip_header">Xero 初中级会计实战</p>
            <p class="flip_content">
              <b>时长: 5 WEEKS</b>
            </p>
            <p class="flip_content">
              <b>每周一节： 2Hrs/Week</b>
            </p>
            <p class="flip_content">
              <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
            </p>

            <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>

    <div class="last_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/yuedijiezhang.jpg" class="initial_img" alt="Card Back" style="">
        <div class="yellow_small_circle">
          5
        </div>
        <div class="initial_wording">
          <h3 class="sub_header" style="color: black">月底结账</h3>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">资产负债表的检查与对账</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">年假以及LSL的对账及结账</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">如何报工资税</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">资产负债表以及利润表的指标分析</span></p>
          <p class="kuaiji_box_sub_titles_line"> - <span class="kuaiji_box_sub_titles">现金流量表的简单介绍</span></p>
        </div>

        <div class="img-top cn">
          <div class="inner">
            <p class="flip_header">Xero 初中级会计实战</p>
            <p class="flip_content">
              <b>时长: 5 WEEKS</b>
            </p>
            <p class="flip_content">
              <b>每周一节： 2Hrs/Week</b>
            </p>
            <p class="flip_content">
              <b>课程方向：AP，AR操作流程与技巧，Payroll，Month end案例分析与串讲，财务报表差异分析与处理。</b>
            </p>

            <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container jiaoshi_main_content">
<div class="max_width_1400">
  <p class="yellow_pretty_wording"><i>Our Teachers</i></p>
  <h1 class="kecheng_main_content_header">专业老师介绍</h1>
  <br>
</div>
  <div class=" laoshi_xinxi_box cn row">
    <div class="inner name_inner"><b>Jessica Xu</b></div>
    <div class="inner intro_inner">
      ANU 研究生毕业,2016-2017从事事务所会计师工作,2017-2018 从事
      公司内部会计师工作,现担任Ausvet公司(堪培拉分部)财务会计主管
    </div>
  </div>
  <div class=" laoshi_xinxi_box cn row">
    <div class="inner name_inner"><b>Jessica Xu</b></div>
    <div  class="inner intro_inner">
      ANU 研究生毕业,2016-2017从事事务所会计师工作,2017-2018 从事
      公司内部会计师工作,现担任Ausvet公司(堪培拉分部)财务会计主管
    </div>
  </div>
</div>

<app-jinqihuodong-advertisement></app-jinqihuodong-advertisement>

<app-footer></app-footer>
