<div class="outer_footer">
  <div class="main_content_footer">
    <div class="row several_footer_columns">
      <div class="easi_logo_width">
        <img src="./../../assets/footer/easi_logo_yellow.png" [routerLink]="['/']" style="width: 160px">
      </div>
      <div class="wording_sections wording_sections1">
        课程教育
      </div>
      <div class="wording_sections" [routerLink]="['/PTE-education']">
        PTE培训
      </div>
      <div class="wording_sections" [routerLink]="['/jiuye-IT']" style="cursor: pointer">
        就业培训
      </div>
      <div class="wording_sections">
        移民签证
      </div>
      <div class="wording_sections" [routerLink]="['/Contact_us']">
        联系我们
      </div>
      <div class="three_icons_width  three_icons_mobile wording_sections" >
        <div class="row several_footer_columns three_icons_mobile_several_footer_columns" >
          <div  style="width: 15%"><img src="./../../assets/footer/wechat_icon_green.png" style="width: 100%;text-align: right"></div>
          <div style="width: 7.5%"></div>
          <div  style="width: 15%"><img src="./../../assets/footer/facebook_icon_blue.png" style="width: 100%"></div>
          <div style="width: 7.5%"></div>
          <div  style="width: 50%"><img src="./../../assets/footer/youtube_icon_red.png" style="width: 100%" ></div>
        </div>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid white">
  <div class="main_content_footer main_content_footer_bottom">
    <div class="row several_footer_columns">
      <div class="bottom_wording">
        © 2020 EASI Education. Website by <a href="http://webumate.com.au/" style="color: white;text-decoration: none">webUmate</a>
      </div>
      <div class="three_icons_width three_icons_desktop" >
        <div class="row several_footer_columns" style="float: right">
          <div  style="width: 15%"><img src="./../../assets/footer/wechat_icon_green.png" style="width: 100%;text-align: right"></div>
          <div style="width: 7.5%"></div>
          <div  style="width: 15%"><img src="./../../assets/footer/facebook_icon_blue.png" style="width: 100%"></div>
          <div style="width: 7.5%"></div>
          <div  style="width: 50%"><img src="./../../assets/footer/youtube_icon_red.png" style="width: 100%" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
