<app-jiuyepeixun-top-part></app-jiuyepeixun-top-part>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <!--    <p class="yellow_pretty_wording"><i>Course Introduction</i></p>-->
    <!--    <h1 class="kecheng_main_content_header">IT课程介绍</h1>-->
    <!--    <p class="kecheng_main_content_words"><b>easi education</b> 现与<a class="webUmate">webUmate</a> IT公司强强合作,推出网站app开发就业培训系列课程。我们web前端设计与开发-->
    <!--      零基础班,适应于计算机基础薄弱以及非计算机毕业的同学。在这个零基础班,我们会以授课,项目相结合的方-->
    <!--      式,让每一位学生可以独立设计与开发网页。我们还将为计算机毕业的同学准备了全栈开发工程师课程。全栈开-->
    <!--      发工程师课程将结合堪培拉当地公司的招聘需求,基础和框架结合教学,帮你迅速打通从学校计算机理论到就业-->
    <!--      实际开发操作的最后一公里。欢迎大家联系我们,了解我们的优质课程。</p>-->


    <h1 class="kecheng_main_content_header">Django进阶课程</h1>
    <!--    <div class="lines">-->
    <!--      <span class="line"></span>-->
    <!--      <span class="kecheng_main_content_header">设计</span>-->
    <!--      <span class="line"></span>-->
    <!--    </div>-->
    <!--    <div class="kecheng_sub_content_hader">-->
    <!--      UI/UX设计-->
    <!--    </div>-->


    <!--    <div class="lines">-->
    <!--      <span class="line"></span>-->
    <!--      <span class="kecheng_main_content_header">开发</span>-->
    <!--      <span class="line"></span>-->
    <!--    </div>-->

    <div class="row">
      <div class="kaifa_content_box">
        <p class="kaifa_header">第一章</p>
        <p class="kaifa_sub_header">1. Web App 基础介绍</p>
        <p class="kaifa_content">当下的web构架</p>
        <p class="kaifa_content">前端，后端区分与边界</p>
        <p class="kaifa_content">网络工程师分工</p>
        <p class="kaifa_content">后端工程师主要的工作</p>
        <p class="kaifa_sub_header">2. Django 框架介绍</p>
        <p class="kaifa_content">MVC模式MTV模式</p>
        <p class="kaifa_content">Model / View / Template各自的工作</p>
        <p class="kaifa_sub_header">3. 环境搭建</p>
        <p class="kaifa_content">Python安装与依赖</p>
        <p class="kaifa_content">Docker虚拟化技术</p>
        <p class="kaifa_content">在Docker下部署一个Django项目</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第二章</p>
        <p class="kaifa_sub_header">1. Docker-Compose集群化部署(*)</p>
        <p class="kaifa_sub_header">2. Docker-Compose管理（*）</p>
        <p class="kaifa_content">shell管理指令</p>
        <p class="kaifa_content">可视化管理方案</p>
        <p class="kaifa_sub_header">3. 部署一个django docker</p>
        <p class="kaifa_sub_header">4. 部署数据库与其他组件（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第三章</p>
        <p class="kaifa_sub_header">1. 运行django</p>
        <p class="kaifa_sub_header">2. 版本控制</p>
        <p class="kaifa_content">github基础</p>
        <p class="kaifa_content">创建repo</p>
        <p class="kaifa_content">部署ssh</p>
        <p class="kaifa_content">上传自己的项目</p>
        <p class="kaifa_content">修改发生时，如何管理修改</p>
        <p class="kaifa_content">多人合作时项目管理与操作规范（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第四章</p>
        <p class="kaifa_sub_header">1. 页面渲染</p>
        <p class="kaifa_content">url控制</p>
        <p class="kaifa_content">打印hello world</p>
        <p class="kaifa_content">django template介绍</p>
        <p class="kaifa_content">django template渲染</p>
        <p class="kaifa_content">向template里面传递数据</p>
        <p class="kaifa_content">template之间的继承关系（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第五章</p>
        <p class="kaifa_sub_header">1. 管理数据库</p>
        <p class="kaifa_content">设计数据库</p>
        <p class="kaifa_content">像数据库里添加数据</p>
        <p class="kaifa_content">修改数据库的数据</p>
        <p class="kaifa_content">删除数据库的数据</p>
        <p class="kaifa_content">查询数据库的数据</p>
        <p class="kaifa_content">借助第三方工具管理数据库（navicat）（*）</p>
        <p class="kaifa_content">关系型数据库与非关系型数据库 （*）</p>
        <p class="kaifa_content">将mysql集成到现有项目中（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第六章</p>
        <p class="kaifa_sub_header">1. model的字段与类型</p>
        <p class="kaifa_sub_header">2. queryset操作方法</p>
        <p class="kaifa_sub_header">3. model之间的关系及相关操作（*）</p>
        <p class="kaifa_sub_header">4. 利用django-admin搭建人类看得懂的数据管理系统</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第七章</p>
        <p class="kaifa_sub_header">1. 将数据应用在页面渲染上</p>
        <p class="kaifa_content">view简介</p>
        <p class="kaifa_content">编写视图函数</p>
        <p class="kaifa_content">HTTPRequest 与 HTTPResponce简介</p>
        <p class="kaifa_content">cookies（*）</p>
        <p class="kaifa_content">django-restful-framework（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第八章</p>
        <p class="kaifa_sub_header">1. 什么是REST标准（*）</p>
        <p class="kaifa_sub_header">2. 美化我们的页面</p>
        <p class="kaifa_content">bootstrap框架</p>
        <p class="kaifa_content">抄别人的作业</p>
        <p class="kaifa_content">把别人的作业变成自己的</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第九章</p>
        <p class="kaifa_sub_header">1. 代码实践</p>
        <p class="kaifa_sub_header">2. 远程部署项目（*）</p>
        <p class="kaifa_sub_header">3. nginx简单介绍（*）</p>
        <p class="kaifa_sub_header">4. 利用nginx部署Django项目（*）</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第十章</p>
        <p class="kaifa_sub_header">1. 做自己的网站必要的几个概念（*）</p>
        <p class="kaifa_content">域名</p>
        <p class="kaifa_content">服务器</p>
        <p class="kaifa_content">CDN</p>
        <p class="kaifa_content">静态数据存储</p>
        <p class="kaifa_content">对象文件存储</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第十一章</p>
        <p class="kaifa_sub_header">1. 给自己的网站加上安全保障SSL（*）</p>
      </div>
    </div>

    <button class="btn gengduokecheng_btn" [routerLink]="'/kechengjiaoyu-IT'">更多课程</button>

  </div>
</div>


<app-jinqihuodong-advertisement></app-jinqihuodong-advertisement>

<app-footer></app-footer>
