<a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev"
   style="position: relative;left: 69%;">
    <span class="" aria-hidden="true">
      <img src="./../../assets/home/left_arrow_with_background.jpg" class="arrow_icon">
    </span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next"
   style="position: relative;left: 80%">
    <span aria-hidden="true">
            <img src="./../../assets/home/right_arrow_with_background.jpg" class="arrow_icon_right">
    </span>
  <span class="sr-only">Next</span>
</a>



<div class="container-fluid">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12">
      <div style="width: 100%">
        <div class="row mx-auto my-auto">
          <div id="recipeCarousel2" class="carousel slide w-100 " data-ride="carousel">
            <div class="carousel-inner w-100 vv-3" role="listbox">
              <div class="carousel-item active">
                <div class="col-6 desktop_carousel">
                  <img class="d-block img-fluid backgroundimg "
                       src="./../../assets/home/ITpeixunhejiuye.jpg" style="width: 95%">
                  <div class="jinqihuodong_wordings">
                    <p class="date">30 Aug 2020</p>
                    <p class="title ">IT培训和就业</p>
                    <p class="content">我们即将与webUmate IT公司全面合作，开展IT开发培训，web零基础新手训练营，
                      帮助IT毕业生找到自己理想的工作，帮助非计算机学生掌握IT技能，达到行业就业标准，符合堪培拉本地公司开发技术需求。</p>
                  </div>
                </div>

                <!--                <div class="col-12 mobile_carousel">-->
                <!--                  <img class="d-block img-fluid backgroundimg jinqihuodong_mobile"-->
                <!--                       src="./../../assets/home/ITpeixunhejiuye.jpg" >-->
                <!--                  <div class="jinqihuodong_wordings">-->
                <!--                    <p class="date">30 Feb 2020</p>-->
                <!--                    <p class="title ">IT培训和就业</p>-->
                <!--                    <p class="content">我们即将与webUmate IT公司全面合作，开展IT开发培训，web零基础新手训练营，-->
                <!--                      帮助IT毕业生找到自己理想的工作，帮助非计算机学生掌握IT技能，达到行业就业标准，符合堪培拉本地公司开发技术需求.</p>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
              <div class="carousel-item ">
                <div class="col-6 desktop_carousel">
                  <img class="d-block img-fluid backgroundimg backgroundimg_desktop" src="./../../assets/home/kuaijijiuyehezhidao.jpg" style="width: 95%">
                  <div class="jinqihuodong_wordings">
                    <p class="date">01 Sep 2020</p>
                    <p class="title ">会计就业和指导</p>
                    <p class="content">我们即将与会计事务所深度合作，开展会计方向的就业指导以及实习指导推荐。</p>
                  </div>
                </div>


<!--                <div class="col-12 mobile_carousel">-->
<!--                  <img class="d-block img-fluid backgroundimg jinqihuodong_mobile"-->
<!--                       src="./../../assets/home/kuaijijiuyehezhidao.jpg">-->
<!--                  <div class="jinqihuodong_wordings">-->
<!--                    <p class="date">12 Feb 2020</p>-->
<!--                    <p class="title ">会计就业和指导</p>-->
<!--                    <p class="content">我们即将与。。。会计事务所深度合作，开展会计方向的就业指导以及实习指导推荐。</p>-->
<!--                  </div>-->
<!--                </div>-->

              </div>
              <div class="carousel-item">
                <div class="col-6 desktop_carousel">
                  <img class="d-block img-fluid backgroundimg "
                       src="./../../assets/home/yiminqianzhengyewu.jpg" style="width: 95%">
                  <div class="jinqihuodong_wordings">
                    <p class="date">01 Sep 2020</p>
                    <p class="title ">移民签证业务</p>
                    <p class="content">我们即将开展移民业务。</p>
                  </div>
                </div>

<!--                <div class="col-12 mobile_carousel">-->
<!--                  <img class="d-block img-fluid backgroundimg "-->
<!--                       src="./../../assets/home/yiminqianzhengyewu.jpg" >-->
<!--                  <div class="jinqihuodong_wordings">-->
<!--                    <p class="date">23 Feb 2020</p>-->
<!--                    <p class="title ">移民签证业务</p>-->
<!--                    <p class="content">我们即将开展。。。移民业务。</p>-->
<!--                  </div>-->
<!--                </div>-->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
