<div style="position: fixed;width: 100%;top:0;z-index: 999;background: #2e0e5a;height: 0">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <img src="./../../assets/jiuyepeixun/banner_img.jpg" class="home_banner_desktop" style="width: 100%">
  <img src="./../../assets/home/banner_big_height.jpg" class="home_banner_mobile" style="width: 100%">
  <div class="max_width_1400">
    <div class="wording_on_top top_wording_on_top">
      <h1 class="header">就业培训</h1>
<!--      <img src="./../../assets/home/medal.png" class="madel_icon">-->
      <h3 class="sub_header">精品课程，专业指导，为你就业保驾护航</h3>

      <button class="btn contact_us_btn">立即报名</button>
    </div>
  </div>
</div>



<!--IT课程 / 会计课程-->
<div class="container IT_kuaijikecheng">
  <div class="row max_width_1400">
    <div style="width: 48%;text-align: right">
      <button class="btn option_btn" (click)="chooseITCourse()" id="IT_choose_btn">IT课程</button>
    </div>
    <div style="width: 4%;text-align: center;color: black;font-size: 20px;padding-top: 5px">
      /
    </div>
    <div style="width: 48%;text-align: left">
      <button class="btn option_btn" id="Account_choose_btn" (click)="chooseAccountCourse()">会计课程</button>
    </div>
  </div>
</div>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">IT课程介绍</h1>
    <p class="kecheng_main_content_words"><b>easi education</b> 现与<a class="webUmate">webUmate</a> IT公司强强合作,推出网站app开发就业培训系列课程。我们web前端设计与开发
      零基础班,适应于计算机基础薄弱以及非计算机毕业的同学。在这个零基础班,我们会以授课,项目相结合的方
      式,让每一位学生可以独立设计与开发网页。我们还将为计算机毕业的同学准备了全栈开发工程师课程。全栈开
      发工程师课程将结合堪培拉当地公司的招聘需求,基础和框架结合教学,帮你迅速打通从学校计算机理论到就业
      实际开发操作的最后一公里。欢迎大家联系我们,了解我们的优质课程。</p>
  </div>
  <div class="row max_width_1400">
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonJichu.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">web前端设计与开发零基础班</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>
    <div class="first_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonJichu.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python基础班</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>
    <div class="second_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python数据分析课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>

    <div class="third_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python数据分析课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>

    <div class="second_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python数据分析课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>

    <div class="last_width_2"></div>

    <div class="center flips_boxes flips_boxes_botom_three gengduokecheng_desk_ipad">
      <p>
      更多课程
      <br>
      正在持续更新中......
      </p>
    </div>

  </div>

</div>


<div class="container yellow_jinqihuodong_main_part">
  <div class="max_width_1400 jinqihuodong_yellow_content">
    <p class="yellow_pretty_wording"><i style="color: black">Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">近期活动</h1>
    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 80px">
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
    </div>
  </div>
</div>

<app-footer></app-footer>
