<div style="position: fixed;width: 100%;top:0;z-index: 999;background: #2e0e5a;height: 0">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <img src="./../../assets/pte/banner_desktop.jpg" class="home_banner_bigger_desktop" style="width: 100%">
  <img src="./../../assets/jiuyepeixun/banner_img_desktop.jpeg" class="home_banner_smaller_desktop" style="width: 100%">
  <img src="./../../assets/jiuyepeixun/banner_mobile.jpeg" class="home_banner_mobile" style="width: 100%">
  <div class="max_width_1400">
    <div class="wording_on_top top_wording_on_top">
      <h1 class="header">PTE 教育</h1>
      <!--      <img src="./../../assets/home/medal.png" class="madel_icon">-->
      <h3 class="sub_header">专业教师，优质课程，让你的学习事半功倍</h3>

      <button class="btn contact_us_btn" [routerLink]="['/Contact_us']">立即报名</button>
    </div>
  </div>
</div>



