<div class="container yellow_jinqihuodong_main_part">
  <div class="max_width_1400 jinqihuodong_yellow_content">
    <p class="yellow_pretty_wording"><i style="color: black">Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">近期活动</h1>
    <div class="row" style="margin-left: 0;margin-right: 0;margin-top: 80px">
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
      <div style="width: 2%"></div>
      <img src="./../../assets/jiuyepeixun/huorebaoming.png" style="width: 23.5%">
    </div>
  </div>
</div>
