<app-jiuyepeixun-top-part></app-jiuyepeixun-top-part>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">IT课程介绍</h1>
    <p class="kecheng_main_content_words"><b>easi education</b> 现与<a class="webUmate" href="http://webumate.com.au/">webUmate</a> IT公司强强合作,推出网站app开发就业培训系列课程。我们web前端设计与开发
      零基础班,适应于计算机基础薄弱以及非计算机毕业的同学。在这个零基础班,我们会以授课,项目相结合的方
      式,让每一位学生可以独立设计与开发网页。我们还将为计算机毕业的同学准备了全栈开发工程师课程。全栈开
      发工程师课程将结合堪培拉当地公司的招聘需求,基础和框架结合教学,帮你迅速打通从学校计算机理论到就业
      实际开发操作的最后一公里。欢迎大家联系我们,了解我们的优质课程。</p>
  </div>
  <div class="row max_width_1400">
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonJichu.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">web前端设计与开发零基础班</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web前端设计与开发零基础班</p>
          <p class="flip_content"><b>设计方向</b>
            <br>
            - UI/UX设计
          </p>
          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn" [routerLink]="'/webqianduankecheng'">查看课程详情</button>
        </div>
      </div>
    </div>
    <div class="first_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonJichu.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">web全栈进阶课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">web全栈进阶课程</p>

          <p class="flip_content">
            - JS进阶 - 面向对象编程
            <br>
            - 函数进阶
            <br>
            - 应用层通信
            <br>
            - jQuery
            <br>
            - Node.js 后端

          </p>

          <button class="btn chakanxiangqing_btn" [routerLink]="['/webquanzhanjinjiekecheng']">查看课程详情</button>
        </div>
      </div>
    </div>
    <div class="second_width_2"></div>
    <div class="flips_boxes">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python开发入门课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">Python开发入门课程</p>
          <p class="flip_content">
            - Django内容介绍
            <br>
            - MTV模式
            <br>
            - 后端工作简介
            <br>
            - Docker虚拟化介绍
            <br>
            - Django 环境搭建
            <br>
            - Django项目创建
            <br>
            - Django 模板
            <br>
            - request 与 response
            <br>
            - 业务设计 - 展示类业务，提交类业务，修改类业务，删除类业务
            <br>
            - 实际项目操作，以论坛为例子
          </p>

          <button class="btn chakanxiangqing_btn" [routerLink]="['/pythonkaifarumenkecheng']">查看课程详情</button>
        </div>
      </div>
    </div>




    <div class="third_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Django进阶课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">Django进阶课程</p>

          <p class="flip_content"><b>开发方向</b>
            <br>
            - 手把手入门HTML，CSS开发
            <br>
            - 顶部导航栏结构搭建
            <br>
            - Git入门级项目开发
            <br>
            - 分类导航栏结构搭建
            <br>
            - 轮播图及主题内容搭建
            <br>
            - Footer搭建
            <br>
            - 项目部署，云服务器配置
          </p>

          <button class="btn chakanxiangqing_btn" [routerLink]="['/djangojinjiekecheng']">查看课程详情</button>
        </div>
      </div>
    </div>

    <div class="second_width_2"></div>
    <div class="flips_boxes flips_boxes_botom_three">
      <div class="card">
        <img src="./../../assets/jiuyepeixun/pythonShuju.jpg" class="initial_img" alt="Card Back" style="">
        <div class="wording_on_top top_wording_on_top">
          <h3 class="sub_header">Python数据分析课程</h3>
        </div>
        <div class="img-top">
          <p class="flip_header">Django进阶课程</p>

          <p class="flip_content">
            - 常见的数据分析python工具，
            <br>
            数据可视化
            <br>
            数据方面的实战操作。
          </p>

          <button class="btn chakanxiangqing_btn">查看课程详情</button>
        </div>
      </div>
    </div>

    <div class="last_width_2"></div>

    <div class="center flips_boxes flips_boxes_botom_three gengduokecheng_desk_ipad">
      <p>
        更多课程
        <br>
        正在持续更新中......
      </p>
    </div>

  </div>

</div>


<app-jinqihuodong-advertisement></app-jinqihuodong-advertisement>

<app-footer></app-footer>
