
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
.max_width_1400{
  max-width: 1400px;
  margin: auto;
  width: 90%;
}
/* Centered text */
.wording_on_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.header{
  font-size: 80px;color: white
}
.sub_header{
  font-size: 25px;padding-left: 30px; font-weight: 400;line-height: 40px;padding-top: 20px;text-align: left;font-weight: 600;
}
.kuaiji_box_sub_titles_line{
  color: black;text-align: left; padding-left: 30px;margin-bottom: 0;padding-right: 20px;
}
.kuaiji_box_sub_titles{
  color: black;
  margin-left: 15px;
  max-width: 100%;
  display: block;
  overflow-wrap: break-word;
  text-align: left;
  padding-top: -20px;
  margin-top: -22px;
}
.madel_icon{
  width: 40%;padding: 30px
}
.contact_us_btn{
  background: #ffd800;
  color: black;
  font-size: 28px;
  margin: auto;
  border-radius: 5px;
  width: 250px;
  font-weight: 500;
  margin-top: 20px;
}
.option_btn{
  font-size: 20px;
  border: 1px solid transparent;
  color: black;
  border-radius: 5px;
}
.IT_kuaijikecheng{
  padding-top: 50px;
  padding-bottom: 50px;
}
.kecheng_main_content{
  background: #ffffff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.jiaoshi_main_content{
  background: #eeeeee;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.yellow_pretty_wording{
  font-family: fantasy;
  font-size: 20px;
  color: #ffd800;
}
.kecheng_main_content_header{
  font-size: 40px;
  color: black;
}
.kecheng_main_content_words{
  font-size: 20px;
  color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}
.cn {
  position: relative;
  text-align: center;
}

.inner {
  position: absolute;
  top: 50%;
  left: 20%;
  /* width: 100px; */
  /* height: 100px; */
  transform: translate(-10%, -50%);
  /* background: red; */
  text-align: left;
}

.laoshi_xinxi_box{
  border: 2px solid black;height: 100px;width: 80%;margin: auto;max-width: 1400px;margin-bottom: 40px;
}
.name_inner{
  width: 20%;color: black;font-size: 30px;text-align: center;padding-left: 0; left: 5%
}
.intro_inner{
  width: 70%;color: black;font-size: 20px;text-align: left;left: 30%;border-left: 1px solid black;padding-left: 10%
}
.webUmate{
  color: #ffd800;
}

.card {
  position: relative;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}
.initial_img{
  width: 100%;
}
.initial_wording{
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 300px;
}
.img-top{
  background:#ffd800;height:100%;width:100%;text-align: left;padding: 20px;color: black
}
.flip_header{
  font-size: 30px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}
.flip_content{
  font-size: 22px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.chakanxiangqing_btn{
  background: #e8b82c;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.flips_boxes{
  width: 32%;

}
.flips_boxes_botom_three{
  margin-top: 1.5vw;
}
.more_box{
  color: black;
  font-size: 40px;
  text-align: left;
}


.center {
  position: relative;
  background: #ffd800;
  color: black;
}

.center p {
  color: black;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 10%;
  -ms-transform: translate(10%, -35%);
  transform: translate(10%, -35%);
}

.first_width_2{
  width: 2%;
}
.second_width_2{
  width: 2%;
}
.third_width_2{
  width: 0;
}
.last_width_2{
  width: 2%;
}
.yellow_small_circle{
  background-color: #ffd800;color: white;border-radius: 50%;width: 80px;height: 80px;font-size: 50px;position: absolute;left: 70%;margin-top: -40px;
}

.RSRW_box{
  width: 25%;border-right: 2px solid black;color: black
}
.RSRW_box_no_border{
  border-right: 2px solid transparent;
}
.RSRW_box_content{
  width: 80%;margin: auto
}
.RSRW_box_content img{
  height: 35px;
}
.RSRW_box_content br{
  content: "";
  margin: 5em;
  display: block;
  font-size: 24%;
}
.RSRW_box_content b{
  font-size: 30px;
}
.RSRW_box_content p{
  font-size: 25px;
}
.each_techer_block{
  margin-top: 50px;
}

.each_teacher_intro{
  width: 50%;
  text-align: left;
  padding-top: 60px;
}
.each_teacher_intro b{
  font-size: 40px;
  color: black;
}
.each_teacher_intro br{
  content: "";
  margin: 5em;
  display: block;
  font-size: 24%;
}
.each_teacher_intro p{
  font-size: 25px;
  color: black;
}
.each_teacher_img{
  width: 40%;
  margin-left: 10%;
}
.techer_img_in_left{
  width: 40%;
  margin-left: 0;
  margin-right: 10%;
}

.wording_on_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#frame {
  position: relative;

  width: 100vw;
  height: 60vw;
  background-image: url('./../../assets/pte/pte_jinqihuodong_desktop.jpg');
  background-position: center;
  background-size: cover;
}
.myImgs{
  position: absolute;
  top: 8vw;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
}
#myImg {
  left: 0;
  width: 20%;
  z-index: 998;
}

#myImg_you1 {
  left: 35vw;
  width: 18%;
  z-index: 500;
}
#myImg_you2 {
  left: 54vw;
  width: 16%;
  z-index: 300;
}

#myImg_zuo1 {
  left: -35vw;
  width: 18%;
  z-index: 500;
}
#myImg_zuo2 {
  left: -54vw;
  width: 16%;
  z-index: 300;
}
.yellow_jinqihuodong_main_part{
  background: #ffffff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.jinqihuodong_yellow_content{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #ffffff;
}
.row{
  margin-left: 0;
  margin-right: 0;
  margin: auto;
}
.jinqihuodong_part{
  text-align: center;padding-top: 100px
}
.xueyuan_img{
  width: 23.5%;
}
.xueyuan_space{
  width: 2%;
}
.kecheng_img_main{
  margin-left: 0;margin-right: 0;margin-top: 80px
}

@media screen and (max-width: 1880px) {
  .wording_on_top {
    left: 45%;
    transform: translate(-40%, -35%);
  }
  .header{
    font-size: 70px;
  }
}
@media screen and (max-width: 1500px) {
  .wording_on_top {
    left: 38%;
    transform: translate(-30%, -35%);
  }
  .header{
    font-size: 60px;
  }

  .flip_header{
    font-size: 28px;
  }
  .flip_content{
    font-size: 20px;
  }
  .chakanxiangqing_btn {
    font-size: 20px;
  }
  .intro_inner{
    padding-left: 5%;
  }
  .jinqihuodong_part{
    padding-top: 50px;
  }
}
@media screen and (max-width: 1400px) {
  .flip_header{
    font-size: 24px;
  }
  .flip_content{
    font-size: 18px;
  }
  .chakanxiangqing_btn {
    font-size: 18px;
  }
  .kuaiji_box_sub_titles{
    font-size: 15px;
  }
}
@media screen and (max-width: 1250px) {
  .wording_on_top{
    left: 30%;
    transform: translate(-20%, -40%);
  }
  .header{
    font-size: 50px;
  }
  .sub_header{
    font-size: 25px;
  }
  .flip_header{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .flip_content{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .chakanxiangqing_btn {
    font-size: 15px;
  }
  .kecheng_main_content_words{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .center p{
    font-size: 25px;
  }
  .name_inner{
    font-size: 25px;
    left: 20px;
  }
  .intro_inner{
    font-size: 15px;
  }
  .RSRW_box_content p{
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .sub_section_header{
    padding-bottom: 30px;
  }
  .flip_header{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .flip_content{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .chakanxiangqing_btn {
    font-size: 14px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .kecheng_main_content_words{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
  }
  .center p{
    font-size: 20px;
  }
  .kuaiji_box_sub_titles_line{
    padding-left: 20px;
  }
  .sub_header{
    padding-left: 20px;
  }
  .yellow_small_circle{
    height: 60px;
    width: 60px;
    font-size: 35px;
    margin-top: -30px;
  }
  .myImgs{
    top: 12vw;
  }

}
@media screen and (max-width: 1100px) {
  .img-top{
    padding: 10px;
  }
  .RSRW_box_content b{
    font-size: 25px;
  }
  .RSRW_box_content p{
    font-size: 18px;
  }
  .each_teacher_intro b{
    font-size: 25px;
  }
  .each_teacher_intro p{
    font-size: 18px;
  }
  .each_teacher_img img{
    width: 80%;
  }
  .jinqihuodong_part{
    padding-top: 30px;
  }
}
@media screen and (max-width: 980px) {
  .sub_header{
    font-size: 20px;
  }
  .kuaiji_box_sub_titles{
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    font-size: 40px;
  }

  .sub_header {
    font-size: 20px;
  }
  .madel_icon{
    padding: 15px;
  }
  .flip_header{
    font-size: 14px;
  }
  .flip_content{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .chakanxiangqing_btn {
    font-size: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
}
@media screen and (max-width: 840px) {
  .header {
    font-size: 35px;
  }

  .sub_header {
    font-size: 18px;
  }
  .madel_icon{
    padding: 10px;
  }
  .contact_us_btn{
    font-size: 10px;
  }
  #frame{
    height: 70vw;
  }
  .kecheng_main_content_header{
    font-size: 30px;
  }
  .yellow_pretty_wording{
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 800px) {

  .top_wording_on_top{
    left: 20%;
    transform: translate(-10%, -20%);
  }
  .header{
    font-size: 30px;
  }
  .sub_header{
    font-size: 15px;
  }
  .madel_icon{
    padding: 5px;
  }
  .contact_us_btn{
    font-size: 15px;
  }
  .flips_boxes{
    width: 49%;
    margin-top: 1.5vw;
  }
  .second_width_2{
    width: 0;
  }
  .third_width_2{
    width: 2%;
  }
  .flip_header{
    font-size: 20px;
  }
  .flip_content{
    font-size: 15px;
  }
  .chakanxiangqing_btn {
    font-size: 15px;
  }
  .center p{
    font-size: 25px;
  }
  .name_inner{
    font-size: 20px;
  }
  .header{
    font-size: 80px;color: white
  }
  .sub_header{
    font-size: 25px;
  }
  .kuaiji_box_sub_titles{
    font-size: 15px;
  }
  .each_teacher_img{
    width: 50%;
    margin-left: 0;
  }
  .techer_img_in_left{
    margin-right: 0;
  }
  .RSRW_box{
    width: 50%;
    margin-top: 30px;
  }
  .RSRW_box_no_border_second{
    border: 1px solid transparent;
  }

  .xueyuan_img{
    width: 49%;
    margin-top: 10px;
  }
  .xueyuan_space_second{
    width: 0;
  }

}
@media screen and (max-width: 760px) {
  .sub_section_header {
    font-size: 30px;
  }

  .sub_header {
    line-height: 30px;
  }
  .sub_section_header{
    padding-bottom: 0;
  }
  .madel_icon{
    padding: 0;
  }
  .contact_us_btn{
    margin-top: 0;
  }
  .center p{
    font-size: 20px;
  }
  .each_teacher_intro p{
    font-size: 15px;
  }
  .each_teacher_intro b{
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .flip_header{
    font-size: 16px;
  }
  .flip_content{
    font-size: 12px;
  }
  .chakanxiangqing_btn {
    font-size: 12px;
  }
  .name_inner{
    font-size: 18px;
  }
  .sub_header{
    font-size: 20px;
  }
  .kuaiji_box_sub_titles{
    font-size: 12px;
  }
  .each_teacher_img img{
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .top_wording_on_top{
    left: 0%;
    transform: translate(-0, -35%);
  }
  .header{
    font-size: 20px;
  }
  .sub_header{
    font-size: 10px;
    line-height: 20px;
  }
  .contact_us_btn{
    margin-top: 10px;
    font-size: 10px;
  }
  .flips_boxes{
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .first_width_2{
    width: 0;
  }
  .third_width_2{
    width: 0;
  }
  .last_width_2{
    width: 0;
  }
  .gengduokecheng_desk_ipad{
    display: none;
  }
  .kecheng_main_content_words{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .name_inner{
    font-size: 15px;
  }
  .intro_inner{
    font-size: 10px;
    left: 33%;
  }
  .laoshi_xinxi_box{
    width: 90%;
  }
  .each_teacher_intro{
    padding-top: 30px;
  }
  .each_teacher_intro b{
    font-size: 18px;
  }
  .each_teacher_intro p{
    font-size: 12px;
  }
  .each_techer_block{
    margin-top: 50px;
  }
  .each_teacher_intro{
    padding-top: 20px;
  }
  #frame{
    height: 80vw;
  }
  .kecheng_main_content_header{
    font-size: 25px;
  }
  .myImgs{
    top: 18vw;
  }
  .yellow_pretty_wording{
    font-size: 15px;
  }
  .RSRW_box_content p{
    font-size: 18px;
  }
}
@media screen and (max-width: 420px) {
  .home_banner_desktop {
    display: none;
  }
  .top_wording_on_top{
    transform: translate(-0, -45%);
  }
  .content{
    font-size: 10px;
  }
  .title{
    font-size: 15px;
  }
  .sub_section_header{
    font-size: 22px;
  }
  .home_banner_desktop{
    display: none;
  }
  .sub_header{
    font-size: 15px;
    line-height: 30px;
  }
  .madel_icon{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header{
    font-size: 22px;
  }
  .contact_us_btn{
    font-size: 18px;
    margin-top: 10px;
  }
  .intro_inner{
    font-size: 10px;
    left: 35%;
  }
  .each_teacher_intro{
    padding-top: 0;
  }
}

@media screen and (min-width: 421px) {
  .home_banner_mobile{
    display: none;
  }
}

