<app-pte-top-part></app-pte-top-part>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Introduction</i></p>
    <h1 class="kecheng_main_content_header">课程介绍</h1>
    <br>
  </div>

  <div class="row max_width_1400">
    <div class="RSRW_box">
      <div class="RSRW_box_content">
      <img src="./../../assets/pte/microphone.png">
      <br>
      <b>口语</b>
        <br>
      <p>定位法教你提升阅读效率; 一听就懂, 一做就会的RO技巧</p>
    </div>
    </div>

    <div class="RSRW_box RSRW_box_no_border_second">
      <div class="RSRW_box_content">
        <img src="./../../assets/pte/headset.png">
        <br>
        <b>听力</b>
        <br>
        <p>重点题型技巧详解; SST精听训练,提升考试实用词汇积极性; WFD专项真题训练, 用技巧提高听力记忆</p>
      </div>
    </div>

    <div class="RSRW_box">
      <div class="RSRW_box_content">
        <img src="./../../assets/pte/book.png">
        <br>
        <b>阅读</b>
        <br>
        <p>定位法教你提升阅读效率;一听就懂,一做就会的RO技巧</p>
      </div>
    </div>

    <div class="RSRW_box RSRW_box_no_border">
      <div class="RSRW_box_content">
        <img src="./../../assets/pte/pen.png">
        <br>
        <b>写作</b>
        <br>
        <p>教你融会贯通使用大作文模板, 梳理小作文脉络</p>
      </div>
    </div>
  </div>
</div>

<div class="container jiaoshi_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Our Team</i></p>
    <h1 class="kecheng_main_content_header">师资团队</h1>
    <br>


    <div class="row each_techer_block">
      <div class="each_teacher_intro">
        <b>牙牙老师</b>
        <br>
        <p>PTE四项满分,堪培拉大学对外英语教育硕士,南方科技大
        学首届毕业生,硕士论文以PTE为研究对象。从事语言教学
        工作近五年,曾担任美国十项学术全能大赛评委、面试官。
        PTE全项教学经验丰富,善于帮助引导学生突破自我,曾帮
        助上百学生取得目标语言成绩。
        </p>
      </div>
      <div class="each_teacher_img">
        <img src="./../../assets/pte/yaya_teacher.png">
      </div>
    </div>

    <div class="row each_techer_block">
      <div class="each_teacher_img techer_img_in_left">
        <img src="./../../assets/pte/sophia.jpg" style="width: 70%">
      </div>
      <div class="each_teacher_intro">
        <b>Sophia老师</b>
        <br>
        <p>北外高翻口译硕士, NAATI三级口译职业认证,英语专业8级, 8年口译和英语教学经验, PTE听说读写满分, 全能老师,
          擅长解决PTE各种疑难杂症, 一针见血, 对症下药, 高效提
          分, 带出无数7炸、8炸、9炸学员。
        </p>
      </div>

    </div>
  </div>

</div>

<!--<div>-->
<!--  <img src="./../../assets/pte/pte_jinqihuodong_desktop.jpg" style="width: 100%">-->
<!--  <div class="max_width_1400">-->
<!--    <div class="">-->
<!--      <p class="yellow_pretty_wording"><i>Recent Events</i></p>-->
<!--      <h1 class="kecheng_main_content_header">近期活动</h1>-->
<!--    </div>-->


<!--    <br>-->
<!--  </div>-->
<!--</div>-->

<!-- 近期活动 -->
<div id="frame">
      <div class="jinqihuodong_part">
        <p class="yellow_pretty_wording"><i>Recent Events</i></p>
        <h1 class="kecheng_main_content_header" style="color: white">近期活动</h1>
      </div>
  <img class="myImgs"  id="myImg_zuo1" src="./../../assets/pte/banqingxi.jpg">
  <img class="myImgs"  id="myImg_zuo2" src="./../../assets/pte/buqingxi.jpg">
  <img class="myImgs" id="myImg" src="./../../assets/pte/qingxi.jpg">
  <img class="myImgs"  id="myImg_you1" src="./../../assets/pte/banqingxi.jpg">
  <img class="myImgs"  id="myImg_you2" src="./../../assets/pte/buqingxi.jpg">
</div>


<div class="container yellow_jinqihuodong_main_part">
  <div class="max_width_1400 jinqihuodong_yellow_content">
    <p class="yellow_pretty_wording"><i>Achievements</i></p>
    <h1 class="kecheng_main_content_header">高分学员</h1>
    <div class="row kecheng_img_main">
      <img src="./../../assets/pte/gaofenxueyuan.jpg" class="xueyuan_img">
      <div class="xueyuan_space"></div>
      <img src="./../../assets/pte/gaofenxueyuan.jpg" class="xueyuan_img">
      <div class="xueyuan_space xueyuan_space_second"></div>
      <img src="./../../assets/pte/gaofenxueyuan.jpg" class="xueyuan_img">
      <div class="xueyuan_space"></div>
      <img src="./../../assets/pte/gaofenxueyuan.jpg" class="xueyuan_img">
    </div>
  </div>
</div>



<app-footer></app-footer>
