<div style="position: fixed;width: 100%;top:0;z-index: 999;background: #2e0e5a;height: 0">
  <app-navbar></app-navbar>
</div>


<div class="container">
  <img src="./../../assets/home/banner.jpg" class="home_banner_desktop" style="width: 100%">
  <img src="./../../assets/home/banner_big_height.jpg" class="home_banner_mobile" style="width: 100%">
  <div class="max_width_1400">
    <div class="wording_on_top top_wording_on_top">
      <h1 class="header">easi教育，专业综合的教育</h1>
      <img src="./../../assets/home/medal.png" class="madel_icon">
      <h3 class="sub_header">全面的ANU课程辅导，专业的进阶就业技术培训，移民签证业务保障，给你一个全面无忧的学习体验</h3>

      <button class="btn contact_us_btn">联系我们</button>
    </div>
  </div>
</div>


<!-- White background six yellow buttons-->
<div class="main_content">
  <div class="row" style="margin: auto">
    <div class="six_icons_width">
      <img src="./../../assets/home/kechengjiaoyu.png" style="width: 100%">
      <p class="six_button_word">ANU 课程教育</p>
    </div>

    <div class="six_icons_width_space_between"></div>

    <div class="six_icons_width"  [routerLink]="'/PTE-education'">
      <img src="./../../assets/home/PTEzhuanyepeixun.png" style="width: 100%">
      <p class="six_button_word">PTE 专业培训</p>
    </div>

    <div class="six_icons_width_space_between"></div>

    <div class="six_icons_width" [routerLink]="'/kechengjiaoyu-IT'">
      <img src="./../../assets/home/ITjiuyepeixun.png" style="width: 100%">
      <p class="six_button_word">IT 就业培训</p>
    </div>

    <div class="six_icons_width_space_between six_icons_width_space_between_third"></div>

    <div class="six_icons_width" [routerLink]="'/kechengjiaoyu-accountant'">
      <img src="./../../assets/home/kuaijiuyepeixun.png" style="width: 100%">
      <p class="six_button_word">会计 就业培训</p>
    </div>

    <div class="six_icons_width_space_between"></div>

    <div class="six_icons_width">
      <img src="./../../assets/home/yiminqianzhengbanli.png" style="width: 100%">
      <p class="six_button_word">移民签证办理</p>
    </div>
  </div>
</div>


<!-- White background six yellow buttons-->
<div class="yellow_content">
  <div class="main_content main_content_yellow">
    <p class="sub_section_header">课程特色</p>
    <div class="row" style="margin: auto;margin-left: 0">
      <img src="./../../assets/home/kechengtese.png" class="kechengtese_img">
    </div>
    <img src="./../../assets/home/dianjizixun.png" style="width: 10%;margin-top: -16%;margin-left: 55%">
  </div>
</div>




<!-- 近期活动 -->
<div class="container">
  <img src="./../../assets/home/jinqihuodong.jpg" style="width: 100%" class="jinqihuodong_main_part_desktop">

  <img src="./../../assets/home/jinqihuodong_mobile.jpg" style="width: 100%" class="jinqihuodong_main_part_pad">

  <img src="./../../assets/home/jinqihuodong_mobile_bigheight.jpg" style="width: 100%" class="jinqihuodong_main_part_mobile">
  <div class="max_width_1400">
    <div class="wording_on_top jinqihuodong_wording_on_top">
      <h1 class="sub_section_header sub_section_header_jinqihuodong">近期活动</h1>
      <div class="row row_jinqihuodong jinqihuodong_main_part_desktop">
        <div class="jinqihuodong_sections">
          <img src="./../../assets/home/kuaijijiuyehezhidao.jpg" class="jinqihuodong_img jinqihuodong_desktop">
          <img class="backgroundimg jinqihuodong_mobile" src="./../../assets/home/kuaijijiuyehezhidao.jpg">
          <div class="jinqihuodong_wordings">
            <p class="date">01 Sep 2020</p>
            <p class="title ">会计就业和指导</p>
            <p class="content">我们即将与。。。会计事务所深度合作，开展会计方向的就业指导以及实习指导推荐。</p>
          </div>
        </div>
        <div style="width: 2%"></div>
        <div class="jinqihuodong_sections">
          <img src="./../../assets/home/yiminqianzhengyewu.jpg" class="jinqihuodong_img jinqihuodong_desktop">
          <img class="backgroundimg jinqihuodong_mobile" src="./../../assets/home/yiminqianzhengyewu.jpg">
          <div class="jinqihuodong_wordings">
            <p class="date">01 Sep 2020</p>
            <p class="title ">移民签证业务</p>
            <p class="content">我们即将开展。。。移民业务。</p>
          </div>
        </div>
        <div style="width: 2%"></div>
        <div class="jinqihuodong_sections" [routerLink]="['/kechengjiaoyu-IT']">
          <img src="./../../assets/home/ITpeixunhejiuye.jpg" class="jinqihuodong_img jinqihuodong_desktop">
          <img class="backgroundimg jinqihuodong_mobile" src="./../../assets/home/ITpeixunhejiuye.jpg">
          <div class="jinqihuodong_wordings">
            <p class="date">30 Aug 2020</p>
            <p class="title ">IT培训和就业</p>
            <p class="content">我们即将与webUmate IT公司全面合作，开展IT开发培训，web零基础新手训练营，
              帮助IT毕业生找到自己理想的工作，帮助非计算机学生掌握IT技能，达到行业就业标准，符合堪培拉本地公司开发技术需求.</p>
          </div>
        </div>
      </div>


      <div class="row row_jinqihuodong jinqihuodong_carousel">
        <app-carousel style="width: 100%;"></app-carousel>
      </div>

<!--      <div class="row row_jinqihuodong ">-->
<!--        <app-carousel style="width: 100%;"></app-carousel>-->
<!--      </div>-->
    </div>
  </div>
</div>


<app-contact></app-contact>
<app-footer></app-footer>
