
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100vw;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
/* Centered text */
.wording_on_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header{
  font-size: 80px;color: white
}
.sub_header{
  font-size: 28px;padding-left: 30px;padding-right: 30px; font-weight: 400;line-height: 40px;
}

.max_width_1400{
  max-width: 1400px;
}

.contact_us_btn{
  background: #ffd800;
  color: black;
  font-size: 28px;
  margin: auto;
  border-radius: 5px;
  width: 250px;
  font-weight: 500;
  margin-top: 80px;
}


/* White background six yellow buttons */
.main_content{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1400px;
  margin: auto;
}


.six_button_word{
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}


.yellow_content{
  background: #ffd800;
}
.title{
  font-size: 28px;
  font-weight: 500;
}
.sub_section_header{
  font-size: 45px;
  font-weight: 500;
}
.jinqihuodong_wording_on_top{
  width: 100%;
  max-width: 1400px;
}
.date{
  font-size: 15px;
  color: #ffd800;
  padding-top: 30px;
}
.content{
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.jinqihuodong_wordings{
  width: 80%;
}
.jinqihuodong_sections{
  width: 32%;text-align: left
}
.row_jinqihuodong{
  margin-left: 0;margin: auto;width: 100%
}
.jinqihuodong_img{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.madel_icon{
  width: 40%;padding: 30px
}
.six_icons_width{
  width: 14%;
  cursor: pointer;
}
.six_icons_width_space_between{
  width: 7.5%
}
.kechengtese_img{
  width: 80%;margin: auto
}
@media screen and (max-width: 1880px) {
  .header{
    font-size: 70px;
  }
  .wording_on_top{
    left: 45%;
    transform: translate(-40%, -50%);
  }
  .jinqihuodong_wording_on_top{
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1500px) {
  .header{
    font-size: 60px;
  }
  .wording_on_top{
    left: 38%;
    transform: translate(-30%, -40%);
  }
  .jinqihuodong_wording_on_top{
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .main_content{
    width: 90%;
  }
  .date{
    padding-top: 0;
    margin-bottom: 0;
  }
  .title{
    font-size: 25px;
    margin-bottom: 5px;
  }
  .jinqihuodong_wordings{
    width: 95%;
  }
}

@media screen and (max-width: 1250px) {
  .six_button_word{
    font-size: 20px;
  }
  .wording_on_top{
    left: 30%;
    transform: translate(-20%, -40%);
  }
  .jinqihuodong_wording_on_top{
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
.header{
  font-size: 50px;
}
.sub_header{
  font-size: 25px;
}

}
@media screen and (max-width: 1100px) {
  .jinqihuodong_desktop{
    display: none;
  }
  .content{
    font-size: 12px;
  }
  .sub_section_header{
    padding-bottom: 30px;
  }
  .date{
    padding-top: 10px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1101px) {
  .jinqihuodong_mobile{
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .madel_icon{
    padding: 15px;
  }
  .contact_us_btn{
    margin-top: 40px;
  }
  .header{
    font-size: 40px;
  }
  .sub_header{
    font-size: 20px;
  }
  .six_icons_width{
    width: 16%
  }
  .six_icons_width_space_between{
    width: 5%
  }
  .six_button_word{
    font-size: 15px;
  }
}
@media screen and (max-width: 840px) {
  .jinqihuodong_main_part_desktop{
    display: none;
  }
  .jinqihuodong_main_part_mobile{
    display: none;
  }
  .sub_section_header_jinqihuodong{
    padding-bottom: 0;
  }
  .jinqihuodong_wording_on_top{
    width: 96%;
  }
  .header{
    font-size: 35px;
  }
  .sub_header{
    font-size: 18px;
  }
  .madel_icon{
    padding: 10px;
  }
  .contact_us_btn{
    margin-top: 20px;
    font-size: 20px;
  }
  .main_content_yellow{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 841px) {
  .jinqihuodong_main_part_pad{
    display: none;
  }
  .jinqihuodong_main_part_mobile{
    display: none;
  }
  .jinqihuodong_carousel{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header{
    font-size: 30px;
  }
  .sub_header{
    font-size: 15px;
  }
  .madel_icon{
    padding: 5px;
  }
  .contact_us_btn{
    margin-top: 20px;
    font-size: 15px;
  }
  .top_wording_on_top{
    left: 20%;
    transform: translate(-10%, -20%);
  }
}
@media screen and (max-width: 760px) {
  .sub_section_header{
    font-size: 30px;
  }
  .sub_header{
    line-height: 30px;
  }
  .backgroundimg{
    height: 120px;
  }
  .contact_us_btn{
    margin-top: 0;
  }
  .madel_icon{
    padding: 0;
  }

  .six_icons_width{
    width: 18%
  }
  .six_icons_width_space_between{
    width: 2.5%
  }
  .main_content{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .six_button_word{
    font-size: 12px;
  }
  .sub_section_header{
    padding-bottom: 0;
  }
  .kechengtese_img{
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .jinqihuodong_main_part_pad{
    display: none;
  }
  .jinqihuodong_main_part_desktop{
    display: none;
  }
  .jinqihuodong_main_part_mobile{
    display: initial;
  }
}

@media screen and (min-width: 640px) {

  .jinqihuodong_main_part_mobile{
    display: none;
  }

}


@media screen and (max-width: 520px) {
  .header{
    font-size: 20px;
  }
  .sub_header{
    font-size: 10px;
    line-height: 20px;
  }
  .contact_us_btn{
    margin-top: 10px;
    font-size: 10px;
  }
  .six_icons_width{
    width: 28%;
  }
  .six_icons_width_space_between{
    width: 8%;
  }
  .six_icons_width_space_between_third{
    width: 18%;
  }
  .content{
    font-size: 10px;
  }
  .six_button_word{
    font-size: 12px;
  }
  .top_wording_on_top{
    left: 0%;
    transform: translate(-0, -35%);
  }
  .main_content{
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 420px) {
  .content{
    font-size: 10px;
  }
  .title{
    font-size: 15px;
  }
  .sub_section_header{
    font-size: 22px;
  }
  .home_banner_desktop{
    display: none;
  }
  .sub_header{
    font-size: 15px;
    line-height: 30px;
  }
  .madel_icon{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header{
    font-size: 22px;
  }
  .contact_us_btn{
    font-size: 18px;
    margin-top: 20px;
  }
  .top_wording_on_top{
    transform: translate(-0, -45%);
  }
}
@media screen and (min-width: 421px) {
  .home_banner_mobile{
    display: none;
  }
}
.backgroundimg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
*:focus {outline:none !important}
