<app-jiuyepeixun-top-part></app-jiuyepeixun-top-part>

<div class="container kecheng_main_content">
  <div class="max_width_1400">
    <p class="yellow_pretty_wording"><i>Course Introduction</i></p>
    <h1 class="kecheng_main_content_header">IT课程介绍</h1>
    <p class="kecheng_main_content_words"><b>easi education</b> 现与<a class="webUmate">webUmate</a> IT公司强强合作,推出网站app开发就业培训系列课程。我们web前端设计与开发
      零基础班,适应于计算机基础薄弱以及非计算机毕业的同学。在这个零基础班,我们会以授课,项目相结合的方
      式,让每一位学生可以独立设计与开发网页。我们还将为计算机毕业的同学准备了全栈开发工程师课程。全栈开
      发工程师课程将结合堪培拉当地公司的招聘需求,基础和框架结合教学,帮你迅速打通从学校计算机理论到就业
      实际开发操作的最后一公里。欢迎大家联系我们,了解我们的优质课程。</p>


    <h1 class="kecheng_main_content_header">web前端设计与开发零基础班</h1>
    <div class="lines">
      <span class="line"></span>
      <span class="kecheng_main_content_header">设计</span>
      <span class="line"></span>
    </div>
    <div class="kecheng_sub_content_hader">
      UI/UX设计
    </div>


    <div class="lines">
      <span class="line"></span>
      <span class="kecheng_main_content_header">开发</span>
      <span class="line"></span>
    </div>

    <div class="row">
      <div class="kaifa_content_box">
        <p class="kaifa_header">第一章（1 ～ 2节课）</p>
        <p class="kaifa_sub_header">手把手入门HTML，CSS开发</p>
        <p class="kaifa_content">1. 课程介绍</p>
        <p class="kaifa_content">2. HTML，CSS基础介绍</p>
        <p class="kaifa_content">3. 网页基本骨架搭建</p>
        <p class="kaifa_content">4. 打印出Hello World！</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第二章（2 ～ 3节课）</p>
        <p class="kaifa_sub_header">顶部导航栏结构搭建</p>
        <p class="kaifa_content">1. 与文字有关的tag及style</p>
        <p class="kaifa_content">2. 与图片有关的tag及style</p>
        <p class="kaifa_content">3. 与column有关布局实操</p>
        <p class="kaifa_content">4. 与glyphicon有关的bootstrap介绍</p>
        <p class="kaifa_content">5. 与布局有关的CSS举例实操</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第三章（1节课）</p>
        <p class="kaifa_sub_header">Git入门及项目开发</p>
        <p class="kaifa_content">1. 常用git语句</p>
        <p class="kaifa_content">2. Git将导航栏push上去</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第四章（3 ～ 4节课）</p>
        <p class="kaifa_sub_header">分类导航栏结构搭建</p>
        <p class="kaifa_content">1. 与li有关的tag及style</p>
        <p class="kaifa_content">2. 选择（弹出菜单，伪类，举例: hover）</p>
        <p class="kaifa_content">3. 简单的javascript应用，例如mousehover，mouseleave</p>
        <p class="kaifa_content">4. 开始做一个项目</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第五章（1 ～ 2节课）</p>
        <p class="kaifa_sub_header">轮播图及主题内容搭建</p>
      </div>

      <div style="width: 1%"></div>
      <div class="kaifa_content_box">
        <p class="kaifa_header">第六章（1节课）</p>
        <p class="kaifa_sub_header">Footer搭建</p>
      </div>
    </div>

    <button class="btn gengduokecheng_btn" [routerLink]="'/kechengjiaoyu'">更多课程</button>

  </div>
</div>


<app-jinqihuodong-advertisement></app-jinqihuodong-advertisement>

<app-footer></app-footer>
